<div class="jumbotron">
  <h1>Wybierz alkohol</h1>
  <p class="lead">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/1.png" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/2.png" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/3.png" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/IMAG1198.jpg" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/IMAG1186.jpg" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/IMAG1190.jpg" alt="...">
        </a>
      </div>
    </div>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
