<div class="jumbotron">
  <h1>Pokaż co masz!</h1>
  <p class="lead">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/1.png" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/2.png" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/3.png" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/IMAG1198.jpg" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/IMAG1186.jpg" alt="...">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a ng-click="pickItem($event)" class="thumbnail">
          <img src="images/IMAG1190.jpg" alt="...">
        </a>
      </div>
    </div>
  </p>
  <p><a ng-click="applyChoice()"class="btn btn-lg btn-success" ng-href="#/">
      Dawaj drina!
      <span class="glyphicon glyphicon-ok"></span></a>
  </p>
</div>
